<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
   <h1 class="title"><%= title %></h1>
   </header>
   <div class="divi">
   <div class="sub-div">
    <a class="newUser" href="/new">Add New Message</a>
   </div>
   <div class="container">
  
    <% messages.forEach((msg) => { %>
      <div class="msg-box">
      <h3 class="author"><%= msg.user %></h3>
      <p class="msg-txt"><%= msg.text %></p>
      <p class="time"><%= msg.added %></p>
      <div class="btn-container">
         <button class="view-btn">View</button>
         <button class="dlt-btn">Delete</button>
      </div>
      </div>
    <%  }) %>
  </div>
  </div>
  </body>
</html>