body {
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 2rem;
}

input, textarea {
    background-color: darkslategray;
    color: lightgoldenrodyellow;
    border: 2px solid white;
    border-radius: 4px;
}