body {
  background-color: black;
  color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  color: orangered;
}

.divi {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.sub-div {
  width: 90%;
  display: flex;
  justify-content:right;
  align-items: center;
}

.msg-box {
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1.6rem lightgray;
}

.msg-box:hover {
  padding: 2rem;
  background-color: #111;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1.6rem ;
}

.author {
  color: yellow;
  font-weight: bold;
}

.time {
  font-size: 0.5rem;
}



a {
  color: orange;
  text-decoration: none;
  background-color: black;
  border: 2px solid orange;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

a:hover {
  color: yellowgreen;
  text-decoration: none;
  background-color: black;
  border: 2px solid yellowgreen;
  font-size: 1rem;
  border-radius: 0.5rem;
}

a:active {
  color: grey;
  border: 2px solid grey;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.view-btn {
  color: deepskyblue;
  text-decoration: none;
  background-color: black;
  border: 1px solid deepskyblue;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.view-btn:hover {
  color: lightskyblue;
  text-decoration: none;
  background-color: black;
  border: 1px solid lightskyblue;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.view-btn:active {
  color: grey;
  text-decoration: none;
  background-color: black;
  border: 1px solid grey;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.dlt-btn {
  color: red;
  text-decoration: none;
  background-color: black;
  border: 1px solid red;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.dlt-btn:hover {
  color: lightcoral;
  text-decoration: none;
  background-color: black;
  border: 1px solid lightcoral;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.dlt-btn:active {
  color: grey;
  text-decoration: none;
  background-color: black;
  border: 1px solid grey;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
}