body {
  background-color: black;
  color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  color: orangered;
}

.divi {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.sub-div {
  width: 90%;
  display: flex;
  justify-content:right;
  align-items: center;
}

.msg-box {
  padding: 2rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1.6rem lightgray;
}

.msg-box:hover {
  padding: 2rem;
  background-color: #111;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1.6rem ;
}

.author {
  color: yellow;
  font-weight: bold;
}

.time {
  font-size: 0.5rem;
}

.newUser {
  background-color: black;
  border: 2px solid orange;
  color: orange;
  font-size: 1rem;
  border-radius: 0.5rem;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: yellowgreen;
}

a:active {
  color: grey;
}

.newUser:hover {
  background-color: black;
  border: 2px solid yellowgreen;
  color: yellowgreen;
  font-size: 1rem;
  border-radius: 0.5rem;
}